/* css externo */

/* definir as cores tema dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: rgb(70, 78, 139);
    --cor-texto: rgb(248, 225, 233);
    --cor-borda: rgb(204, 198, 255);
    --menu-link: rgb(253, 229, 248);
    --cor-cabecalho: rgb(138, 147, 230);
}

:root[data-theme='light'] {
    --cor-fundo: rgb(245, 233, 237);
    --cor-texto: rgb(94, 94, 188);
    --cor-borda: rgb(149, 141, 223);
    --menu-link: rgb(53, 45, 75);
    --cor-cabecalho: rgb(195, 195, 234);

}

/* reset css = padronizar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inverter cor logo = filtro  */
html[data-theme='light'] .logo {
    filter: invert(0);
}

body {
    /* hexadecimal */
    background: var(--cor-fundo);
    /* cor de fundo */
    color: var(--cor-texto);
    /* cor de texto  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* estilo de lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-cabecalho);
    border-bottom: 10px solid var(--cor-borda);
    position: fixed;
    z-index: 9999;
}

.menu-desktop {
    background-color: var(--cor-cabecalho);
    display: none;
    /* esconde o menu desktop */
}

/* nav ou ul */
.menu {
    display: flex;
    /* em linha */
    /* horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--cor-texto);
    font-size: 0.9rem;
    text-transform: lowercase;
}

/* menu hamburger */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    transform: translateX(100%);
}

/* ativar menu mobile  */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile

/* nav */
.menu-list {
    /* ul */
    display: flex;
    flex-direction: column;
    /* eixo Y = vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 3.25rem;
    /* comprimento */
    height: 1.90rem;
    /* altura */

}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;

}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

h1 {
    font-size: 2.5rem;
}



/* medidas responsivas */

@media(min-width: 768px) {
    .menu-desktop {
        display: flex;
        min-width: 30%;
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    #home {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

/* FIM min 768px */

@media(min-width: 1400px) {
    h1 {
        font-size: 4rem;
    }






}